body {
    background: #001cff url('/static/images/pixel-bg.jpg') no-repeat fixed;
    background-size: cover;
}

/* Font Families */

.navbar,
.title-paragraph {
    font-family: 'Press Start 2P', cursive;
}

.card-body,
.masthead-text,
.card h3,
.page-link {
    font-family: 'kalam', cursive;
}

/* Navigation */

.navbar-brand {
    font-size: 2.25rem;
    margin-left: 0.5rem;
}

.dark-bg {
    background-color: #0000008a;
}

.page-nav {
    margin-bottom: 3rem;
}

/* Post Cards */

.title-paragraph {
    font-size: 0.75rem;
}

.author {
    font-size: 1.75rem;
}

.card {
    background-color: #f0f8ff;
}

.post-link {
    text-decoration: none;
    color: #808080;
}

.post-link:hover {
    color: #a9a9a9;
}

/* Buttons */

.btn-signup {
    background-color: #ff0000;
    color: #ffffff;
    font-weight: 700;
}

.btn-signup:hover {
    color: #000000;
}

.signup,
.edit-post a {
    text-decoration: none;
}

.fa-heart {
    color: #ff0000;
}

.btn-like,
.edit-post {
    background: inherit;
}

.btn-like {
    border: none;
}

.btn-like .fa-heart:hover {
    color: #ff000099;
}

.edit-post {
    border-radius: 0.25rem;
}

.edit-post a {
    color: #000000;
    font-size: 1.05rem;
}

.edit-post a:hover {
    color: #000000aa;
}

.edit-post:hover {
    border-style: inset;
}

.page-link {
    background: inherit;
    color: white;
    font-weight: 600;
    border-width: 0.15rem;
    border-radius: 0.25rem;
    border-style: outset;
    top: 0.5rem;
}

.page-link:hover {
    color: white;
    background-color: inherit;
    border-style: inset;
}