/* Font Families */

.navbar,
.title-paragraph {
    font-family: 'Press Start 2P', cursive;
}

.card-body,
.masthead-text,
h3,
.page-link,
.modal-body {
    font-family: 'kalam', cursive;
}

/* Navigation */

.navbar-brand {
    margin-left: 0.5rem;
}

.dark-bg {
    background-color: #0000008a;
}

.page-nav {
    margin-bottom: 3rem;
}

/* Post Cards */

.title-paragraph {
    font-size: 0.75rem;
}

.author {
    font-size: 1.75rem;
}

.card {
    background-color: #f0f8ff;
}

.post-link {
    text-decoration: none;
    color: #808080;
}

.post-link:hover {
    color: #a9a9a9;
}

.card-img-top {
    width: auto;
    max-width: 100%;
}

/* Buttons */

.btn-signup {
    background-color: #ff0000;
    color: #ffffff;
    font-weight: 700;
}

.btn-signup:hover {
    color: #000000;
}

.signup {
    text-decoration: none;
}

.fa-heart {
    color: #ff0000;
}

.btn-like {
    background: inherit;
    border: none;
}

.btn-like .fa-heart:hover {
    color: #ff000099;
}

.page-link {
    background: inherit;
    color: white;
    font-weight: 600;
    border-width: 0.15rem;
    border-radius: 0.25rem;
    border-style: outset;
    top: 0.5rem;
}

.page-link:hover {
    color: white;
    background-color: inherit;
    border-style: inset;
}

/* Media Queries */

@media (min-width: 576px) {
    .navbar-brand {
        font-size: 2.25rem;
    }
}