{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-8 mt-3 mb-5 card offset-2">
            <div class="card-body">
                <h3>Edit post:</h3>
                <p>Posting as {{ user.username }}</p>
                <form method="post">
                    {{ post | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg mt-2">Update Post</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}