{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-5">
        {% if user.is_authenticated %}
        <div class="col-12">
            <a href="{% url 'new_post' %}" class="btn btn-signup btn-lg">Create a Post!</a>
            <p class="logged-in-as">Logged in as {{ user.username }}</p>
        </div>
        {% endif %}
        <!-- User Posts -->
        <div class="col-12 mt-2 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-10 offset-1 col-md-6 offset-md-0 col-lg-3 mt-2">
                    <div class="card h-100">
                        <div class="card-body">
                            {% if "placeholder" in post.featured_image.url %}
                            <p class="author">{{ post.author }}</p>
                            {% else %}
                            <div class="image-container">
                                <div class="image-flash">
                                    <p class="author">{{ post.author }}</p>
                                </div>
                                <img src=" {{ post.featured_image.url }} " class="card-img-top">
                            </div>
                            {% endif %}
                            <a href="{% url 'post_detail' post.id %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on }} <i class="far fa-heart"></i>
                                {{ post.num_of_likes }}</p>
                            {% ifequal user.id post.author_id %}
                            <button class="edit-post"><a href="{% url 'edit_post' post.id %}">Edit
                                    Post</a></button>
                            {% endifequal %}
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation" class="page-nav">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}