{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-8 mt-3 mb-5 card offset-2">
            <div class="card-body">
                <h2>Share a post:</h2>
                <p>Sharing as {{ user.username }}</p>
                <form method="post" enctype="multipart/form-data">
                    {{ share_post | crispy }}
                    {% csrf_token %}
                    <div class="col">
                        <h3>Post Contents:</h3>
                        <p>{{ post.title }}</p>
                        <p>{{ post.content }}</p>
                        <p>Orginally posted: {{ post.created_on }}</p>
                    </div>
                    <button type="submit" class="btn btn-signup btn-lg mt-2">Share Post</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}